{{#each friendMassve}}
<li class="friend">
    <img src="{{ photo_100 }}" alt="photo" class="photo">
    <div class="friend_name">{{ first_name }} {{ last_name }}</div>
    <img class="add" alt="add" src="/src/img/add.png">
</li>
{{/each}}